{% extends 'layout.html' %}
{% block body %}
{% if session.logged_in %}
    <h2>Settings</h2>
    <form method=POST action="">
    <ul>
        <li><label>Change password</label></li>
        <li>
            <label>New password:</label>
            <input type=password name="new_password"></li>
        <li>
            <label>Repeat the password:</label>
            <input type=password name="new_password_check"></li>
        <li><input type=submit name="Save"></li>
    </ul>
    </form>

    <button onclick="window.location.replace('{{ url_for('delete_user') }}')">Delete account</button>
{% else %}
    <h2>Oops, you shouldn't be here. Please log in or register!</h2>
{% endif %}

{% endblock %}